<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata Yusriyyah Zhaafirah</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .profile-picture {
            width: 200px; /* Atur ukuran lebar gambar sesuai kebutuhan */
            height: 200px; /* Atur ukuran tinggi gambar sesuai kebutuhan */
            object-fit: cover; /* Agar gambar tetap proporsional */
        }
    </style>
</head>
<body>
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand font-weight-bold " href="/">SIAP~ASDOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="/home">Home</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link text-warning font-weight-bold" href="/">Master Data</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-dark tex text-white">
                <h2>Biodata</h2>
            </div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <img src="../static/assets/fira.jpg" class="img-fluid rounded-circle profile-picture" alt="Profile Picture">
                </div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Nama</th>
                            <td>Yusriyyah Zhaafirah</td>
                        </tr>
                        <tr>
                            <th scope="row">Tempat, Tanggal Lahir</th>
                            <td>Tolitoli, 3 Mei 2001</td>
                        </tr>
                        <tr>
                            <th scope="row">No HP</th>
                            <td>082291902703</td>
                        </tr>
                        <tr>
                            <th scope="row">Instagram</th>
                            <td><a href="https://www.instagram.com/zhaafirah_fira03" target="_blank">@zhaafirah_fira03</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td><a href="mailto:zhaafirah030501@gmail.com">zhaafirah030501@gmail.com</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
