<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Data</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Edit Data</h1>
        <form method="post" action="/edit/{{ data[0] }}">
            <div class="form-group">
                <label for="name">Nama:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ data[1] }}">
            </div>
            <div class="form-group">
                <label for="c1">Kriteria A1:</label>
                <input type="text" class="form-control" id="c1" name="c1" value="{{ data[2] }}">
            </div>
            <div class="form-group">
                <label for="c2">Kriteria A2:</label>
                <input type="text" class="form-control" id="c2" name="c2" value="{{ data[3] }}">
            </div>
            <div class="form-group">
                <label for="c3">Kriteria A3:</label>
                <input type="text" class="form-control" id="c3" name="c3" value="{{ data[4] }}">
            </div>
            <div class="form-group">
                <label for="c4">Kriteria B1:</label>
                <input type="text" class="form-control" id="c4" name="c4" value="{{ data[5] }}">
            </div>
            <div class="form-group">
                <label for="c5">Kriteria B2:</label>
                <input type="text" class="form-control" id="c5" name="c5" value="{{ data[6] }}">
            </div>
            <div class="form-group">
                <label for="c6">Kriteria B3:</label>
                <input type="text" class="form-control" id="c6" name="c6" value="{{ data[7] }}">
            </div>
            <button type="submit" class="btn btn-primary btn-save">Simpan & Generate</button>
        </form>
    </div>
</body>
</html>
