<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendahuluan</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand font-weight-bold " href="/">SIAP~ASDOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="/home">Home</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link text-warning font-weight-bold" href="/">Master Data</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-dark text-center text-white">
                <h2>Pendahuluan</h2>
            </div>
            <div class="card-body">
                <p>
                    Program studi Statistika merupakan salah satu program studi yang ada di Fakultas Matematika dan Ilmu Pengetahuan Alam (FMIPA) Universitas Tadulako, dimana program studi Statistika menerapkan kurikulum berbasis kompetensi yaitu menekankan pada ketercapaian kompetensi mahasiswa baik secara individual maupun klasikal, berorientasi pada hasil belajar.
                </p>
                <p>
                    Pada program studi ini tidak terlepas dari adanya mata kuliah praktikum salah satunya yaitu mata kuliah Metode Statistika dimana mata kuliah ini merupakan sebuah prosedur yang digunakan untuk menyajikan data yang mencakup pengumpulan data, pengelompokan, peringkasan dan penyajian data. Selain itu, metode statistik juga digunakan dalam menerjemahkan data seperti memprediksi, menguji prediksi dan menarik kesimpulan dari prediksi awal.
                </p>
                <p>
                    Pada praktikum terdapat asisten dosen dimana asisten dosen merupakan mahasiswa yang dipilih dan ditugaskan untuk membantu dosen dalam melaksanakan tugas-tugasnya terkait kegiatan perkuliahan seperti praktikum. Syarat atau kriteria untuk menjadi asisten dosen di Prodi Statistika Universitas Tadulako yaitu harus menjalani tahapan seleksi berdasarkan minimal IPK 3,0, nilai mata kuliah yang ingin didaftarkan untuk menjadi asisten dosen minimal B+, dan jenjang semester minimal semester 3, berikutnya menjalani tes tertulis dan keaktifan keseluruhan seleksi dilakukan secara manual oleh dosen pengampuh mata kuliah masing-masing.
                </p>
                <p>
                    Salah satu metode SPK (Sistem Pendukung Keputusan) yang dapat digunakan dalam pemecahan masalah seperti pemilihan asisten dosen yaitu metode Profile Matching berbasis web dimana metode ini merupakan salah satu metode sederhana dalam sistem pendukung keputusan dan machine learning dengan mengasumsikan bahwa terdapat tingkat variabel predictor yang ideal yang harus dipenuhi oleh subyek yang diteliti menggunakan aplikasi berbasis web sehingga dapat diketahui perbedaan kompetensi setiap individunya. Sehingga sangat cocok diterapkan dalam penentuan asisten dosen untuk program studi statistika Universitas Tadulako dalam melakukan penilaian secara menyeluruh berdasarkan kriteria dan kompetensi dari calon asisten dosen.
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
