<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penelitian Pemilihan Asisten Dosen</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand font-weight-bold " href="/">SIAP~ASDOS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold" href="/home">Home</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link text-warning font-weight-bold" href="/">Master Data</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-dark text-white text-center">
                <h2>Tujuan dan Rumusan Masalah</h2>
            </div>
            <div class="card-body text-center">
                <h3 class="card-title">Tujuan</h3>
                <p class="card-text">Memberikan suatu alternatif saran ataupun rekomendasi bagi dosen dalam pemilihan asisten dosen Prodi Statistika Universitas Tadulako menggunakan metode Profile Matching berbasis web.</p>
                
                <h3 class="card-title">Rumusan Masalah</h3>
                <p class="card-text">Bagaimana rancangan sistem pendukung keputusan dalam kasus Pemilihan asisten dosen Prodi Statistika Universitas Tadulako menggunakan metode Profile Matching berbasis web.</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
